header {
    margin-top: 0.938vh;
    display: flex;
    justify-content: space-around;
    height: 6vh;
}
.icon-agg {
    display: flex;
    align-items: center;
    justify-items: center;
    img {
        width: 30px;
    }
    
    a{
        text-decoration: none;
        color: black;
        padding-left: 0.521vw;
    }
}
.logo {
    margin-top: 10px;
}
.añadir{
    opacity: 1%;
}
.perfil {
    position: relative;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.perfil img {
    padding-left: 1vw;
    cursor: pointer;
}

.popup {
    background-color: #707070;
    position: absolute;
    top: 84%;
    left: -84%;
    display: none;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup:target {
    display: block;
}


.popup p {
    text-align: center;
}
.popup p span {
    font-weight: bold;
}
.popup a {
    display: flex;
    padding: 10px;
    align-content: center;
    background-color: #ff7221;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
}

.popup a:hover {
    background-color: rgb(214, 123, 12);
}

h1 {
    text-align: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}
.datos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    
}
label input{
    width: 247px;
    height: 81px;
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 98, 0,0.3);
}
.button {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-content: center;
    
    button{
        background-color: #ff7221;
        color: #fff;
        justify-content: center;
        align-content: center;
        width: 580px;
        height: 94px;
        border-radius: 25px;
        border: none;
        font-size: 40px;
    }
}